.octocat img {
	width: 300px;
	border: 1px solid #CFCFCF;
	align: right ;
}

.authors img {
	width: 30px;
	float: right;
}

.octocat {
	float: left;
	border:;
	padding: 10px;
}

ul {
	list-style: none;
}

.image-footer: after {
	content: "#";
	float: left;
}

.image-caption {
 	text-align: center
}

.image-number {
	float: left;
 }
