.octocat img {
	width: 350px;
	border: 1px solid #CFCFCF;
	align: right ;
}

.authors img {
	width: 25px;
	float: right;
}

.octocat {
	float: left;
	border:;
	padding: 10px;
}

ul {
	list-style: none;
}

.image-footer: after {
	content: "#";
	float: left;
	color: gray;
}

.image-caption {
 	text-align: center;
 	color: gray;
}

.image-number {
	float: left;
	color: gray;
 }
