.octocat img {
	width: 300px;
	border: 1px solid #CFCFCF;
}

.authors img {
	width: 25px;
	float:left;
}

.octocat {
	float: left;
	border:;
}

ul {
	list-style: none;
}

.image-number: before {
	content: "#";
}